* {
  margin: 0;
  padding: 0;
}
h1 {
  color: seagreen;
}
hr {
  border: 1px solid black;
}
div.first-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
div.text {
  border-style: solid;
  background-color: grey;
  color: white;
}
div .short-title {
  text-align: end;
}
img.bookimage {
  width: 200px;
  height: 302px;
  top: 246px;
  left: 8px;
}
p.features {
  margin: 20px 20px;
}
table,
th,
td {
  border-collapse: collapse;
  border: 1px solid;
  padding-right: 50px;
}

div.table {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;
}
div label {
  margin-top: 20px;
}

hr.line {
  margin-top: 40px;
}
img.img {
  width: 300px;
  height: 478px;
  top: 1185px;
  left: 8px;
}
div.last {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h3 {
  text-align: center;
}

div.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
div input {
  padding: 5px;
  margin: 10px;
}
div.evaluation {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 20px;
}
input.comment {
  padding: 60px;
}
input.button {
  padding: 11px 50px;
  color: white;
  background-color: darkcyan;
  margin-top: 20px;
}
span.previousprice {
  font-size: 25px;
  color: green;
  margin-top: 30px;
}
span.red-price {
  font-size: 15px;
  color: red;
}
div.socialmedia {
  color: blue;
  margin-left: 35px;
  margin-bottom: 20px;
}
p.explanation {
  border-style: solid;
  background-color: darkcyan;
  padding: 20px 0px;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}
